body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(./8341502.jpg);

  }
  
  .hero-img {
   width: 100%;
   position: relative;
  }

  .hero-image {
    width: 1500px;
    position: fixed;
    /* height: 700px; */
  }


  .welcome-container {
    background-color: #f5eed2;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;

  
  }

  #main {
    /* position: absolute; */
    background-color: rgb(254, 254, 254);
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
  }
  
  h1 {
    color: #333;
  }
  
  .header {
    color: #666;
    margin: 20px auto;
    width: 60%;
  }
  
  text {
    color: #434141;
    width: 60%;
  }

  
  button {
    background-color: #4caf50; /* A green color */
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .dayInPlanner {
    border: 2 px solid #4caf50;
    padding: 20px;
    margin: 20px 0;
    width: 600px;
    border-radius: 5px;
    background-color: #f0f0f0;
  }
  
  .buttonDay {
    background-color: #dd5511; /* A green color */
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  
  .buttonDay:hover {
    background-color: #45a049;
  }


  .buttonWorkOutPart {
    color: #dd5511;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #dd5511 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }

  .buttonWorkOutRemove {
    color: #0ba1d4;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #444444 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }

  .buttonWorkOutSave {
    color: #4caf50;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #4caf50 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }

  .buttonWorkOutClear {
    color: #393939;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #393939 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }

  .buttonExcercise {
    color: #0ba1d4;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #0ba1d4 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }
  
  #main {
    width: 1200px;
    margin: 0 25%;
    padding-top: 50px;
  }

  .choosenDay {
    background-color: #808080; 
  }

  .exerciseCheckbox {
    margin-right: 8px; 
  }
  
  .exerciseCheckbox + label {
    margin-left: 4px; 
  }

  .workoutChecklist {
    margin: 10px;
  }