body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(./src/bg.jpg);

  }
  
  .hero-img {
   width: 100%;
   position: relative;
  }

  .hero-image {
    width: 1500px;
    position: fixed;
    /* height: 700px; */
  }


  .welcome-container {
    background-color: #f5eed2;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;

  
  }

  #main {
    /* position: absolute; */
    background: linear-gradient(to top, rgb(146, 246, 200), rgb(246, 225, 188));
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 900px;
    margin-left: 25%;
  }
  
  h1 {
    color: #333;
  }
  
  .header {
    color: #666;
    margin: 20px auto;
    width: 60%;
  }
  
  text {
    color: #434141;
    width: 60%;
  }

  /* week day class*/
  .dayInPlanner {
    padding: 20px;
    margin: 20px 0;
    width: 800px;
    border-radius: 5px;
    background-color: rgb(254, 254, 254); 
    /* background-color: #f0f0f0; */
  }

  .registration {
    margin: 20px 0;
    width: 400px;
    /* border: 1px solid #dd5511; */
    border-radius: 5px;
    background: linear-gradient(to top, #dd5511, rgb(246, 225, 188));
    /* background-color: rgb(254, 254, 254); */
    padding: 20px;
    display: flex;
    align-items: center;
  }
  
  /* .trainingPlan {
    padding: 30px;
  } */

  button {
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  


  
  .buttonDay {
    background-color: #dd5511; /* A green color */
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  

  .buttonWorkOutPart {
    color: #dd5511;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #dd5511 ;
    cursor: pointer;
    width: 120px;
    cursor: pointer;
    background-color: rgb(254, 254, 254);
  }

  .buttonWorkOutPart:hover {
    background-color: #dd5511;
    color:rgb(254, 254, 254);
  }

  .buttonWorkOutPart:disabled {
    background-color: #b2b0af;
    border: 0;
    color:rgb(254, 254, 254);
  }

  .buttonWorkOutRemove {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonWorkOutRemove:hover {
    background-color: #4f4e4e;
  }

  .buttonWorkOutSave {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #4caf50;
  }

  .buttonWorkOutSave:hover {
    background-color: #45a049;
  }
  .buttonWorkOutClear {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonExercises{
    color: #0ba1d4;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #0ba1d4 ;
    cursor: pointer;
    width: 140px;
    background-color: #f0f0f0;
  }

  .buttonExercises:hover {
    border: 0 ;
    background-color: #0ba1d4;
    color: #f0f0f0
  }
  
  .choosenExercise {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 140px;
    background-color: #0ba1d4;
  }


  .buttonRemoverAll {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonRemoverAll:hover {
    background-color: #4f4e4e;
  }

  .buttonPrint {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #dd5511;
 
  }

  .buttonPrint:hover {
    background-color: #a8380c;
  }

  .buttonPrint:disabled .buttonWorkOutSave:disabled {
    background-color: #a7a7a7;
  }

  .choosenDay {
    background-color: #808080; 
  }

  .exerciseCheckbox {
    margin-right: 8px; 
  }
  
  .exerciseCheckbox + label {
    margin-left: 4px; 
  }

  .workoutChecklist {
    margin: 10px;
  }


  /* Styling form */

input[type="text"],
input[type="email"],
input[type="checkbox"],
input[type="button"] {
  margin-bottom: 10px; 
  border: 1px solid #ccc;
  border-radius: 5px; 
  padding: 10px; 
  width: 250px; 
}

/* Specific style for the text and email inputs */
input[type="text"],
input[type="email"] {
  display: block; /* Makes these inputs take the full width */
}

/* Styling for the checkbox */
input[type="checkbox"] {
  margin-top: 15px; /* Extra space above the checkbox */
  width: auto; /* Override the width for checkbox */
}

/* Label styling */
label {
  display: block; /* Makes label take the full width, useful for alignment */
  margin-top: -25px; /* Adjusts the position of the label closer to the checkbox */
  margin-left: 25px; /* Indents the label to align with checkbox text */
}

/* Specific style for the print button */
.buttonPrint {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  font-size: 16px; /* Larger text */
  cursor: pointer; /* Changes cursor to pointer to indicate it's clickable */
  border: none; /* Removes the border */
}

/* Error message styling */
#emailError {
  color: red; /* Red text for errors */
  font-size: 14px; /* Slightly smaller text */
}