body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(./bg.jpg);

  }
  
  .hero-img {
   width: 100%;
   position: relative;
  }

  .hero-image {
    width: 1500px;
    position: fixed;
    /* height: 700px; */
  }


  .welcome-container {
    background-color: #f5eed2;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;

  
  }

  #main {
    /* position: absolute; */
    background: linear-gradient(to top, rgb(146, 246, 200), rgb(246, 225, 188));
    border-radius: 10px;
    padding: 20px;
    height: fit-content;
    width: 900px;
    margin-left: 25%;
  }
  
  h1 {
    color: #333;
  }
  
  .header {
    color: #666;
    margin: 20px auto;
    width: 60%;
  }
  
  text {
    color: #434141;
    width: 60%;
  }

  /* week day class*/
  .dayInPlanner {
    padding: 20px;
    margin: 20px 0;
    width: 800px;
    border-radius: 5px;
    background-color: rgb(254, 254, 254); 
    /* background-color: #f0f0f0; */
  }

  .registration {
    margin: 20px 0;
    width: 800px;
    /* border: 1px solid #dd5511; */
    border-radius: 5px;
    background: linear-gradient(to top, #dd5511, rgb(246, 225, 188));
    /* background-color: rgb(254, 254, 254); */
    padding: 20px;
  }
  
  button {
    color: white;
    padding: 14px 20px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  


  
  .buttonDay {
    background-color: #dd5511; /* A green color */
    color: white;
    padding: 14px 20px;
    margin: 10px 10px;
    border: none;
    cursor: pointer;
    width: 150px;
  }
  

  .buttonWorkOutPart {
    color: #dd5511;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #dd5511 ;
    cursor: pointer;
    width: 120px;
    cursor: pointer;
    background-color: rgb(254, 254, 254);
  }

  .buttonWorkOutPart:hover {
    background-color: #dd5511;
    color:rgb(254, 254, 254);
  }

  .buttonWorkOutRemove {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonWorkOutRemove:hover {
    background-color: #4f4e4e;
  }

  .buttonWorkOutSave {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #4caf50;
  }

  .buttonWorkOutSave:hover {
    background-color: #45a049;
  }
  .buttonWorkOutClear {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonExcercise {
    color: #0ba1d4;
    padding: 14px 20px;
    margin: 10px 10px;
    border: 2px solid #0ba1d4 ;
    cursor: pointer;
    width: 120px;
    background-color: #f0f0f0;
  }
  
  .buttonRemoverAll {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #393939;
  }

  .buttonRemoverAll:hover {
    background-color: #4f4e4e;
  }

  .buttonPrint {
    color: #f0f0f0;
    padding: 14px 20px;
    margin: 10px 10px;
    cursor: pointer;
    width: 120px;
    background-color: #dd5511;
  }

  .buttonPrint:hover {
    background-color: #a8380c;
  }

  .choosenDay {
    background-color: #808080; 
  }

  .exerciseCheckbox {
    margin-right: 8px; 
  }
  
  .exerciseCheckbox + label {
    margin-left: 4px; 
  }

  .workoutChecklist {
    margin: 10px;
  }